BasedOnStyle: Google

AlignAfterOpenBracket: Align
AlignConsecutiveMacros: "true"
AllowShortFunctionsOnASingleLine: Inline

BreakBeforeBraces: Linux

ColumnLimit: "120"

# Force pointer alignment with the type (left).
DerivePointerAlignment: false
PointerAlignment: Left
